EXPO_PUBLIC_API_URL=https://d11a-2001-448a-2004-6f78-e4c8-776f-842a-a44c.ngrok-free.app
EXPO_PUBLIC_APP_SCHEME=swipee://
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=940433220206-joh02kq116ja3ucro6aj1qm4ib58hvgh.apps.googleusercontent.com
