EXPO_PUBLIC_API_URL=https://d11a-2001-448a-2004-6f78-e4c8-776f-842a-a44c.ngrok-free.app
EXPO_PUBLIC_APP_SCHEME=swipee://
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=82651782528-hvhce2lgcikhu8svqnckrt4hlugon8n6.apps.googleusercontent.com
