EXPO_PUBLIC_API_URL=https://api.swipee.pipigendut.space
EXPO_PUBLIC_APP_SCHEME=swipee://
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=82651782528-hvhce2lgcikhu8svqnckrt4hlugon8n6.apps.googleusercontent.com

EXPO_PUBLIC_BASIC_AUTH_USER=swipee-app
EXPO_PUBLIC_BASIC_AUTH_PASS=swipee-secret-2026